[Desktop Entry]
Type=Application
Name=Revenger Pro 4K
Comment=Linux companion for the COUGAR Revenger Pro 4K
Exec=/home/noahkuo/Desktop/Revenger-Pro-4K-Linux/revenger-pro-4k
Icon=input-mouse
Terminal=false
Categories=Settings;HardwareSettings;
StartupNotify=true
